* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

#app {
  position: fixed;
  inset: 0;
}

#videoOverlay {
  position: absolute;

  width: 60%;
  height: 60%;

  left: 50%;
  transform: translateX(-50%);

  top: 0;

  margin-top: -6%;

  object-fit: contain;
  object-position: center;

  background: #000;

  z-index: 0;
  pointer-events: none; 
}

@media (max-width: 1000px) {
  #videoOverlay {
    width: 90%;
    height: 90%;
    margin-top: -60%;
  }
}

#threeContainer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#threeContainer canvas {
  width: 100%;
  height: 100%;
  display: block;
}

body.zoomed #videoOverlay {
  pointer-events: auto;
  cursor: pointer;
}